.alert-class .modal-content {
    right: 212px;
    top: 263px;
    width: auto;

  }
  .alert-class .close {
    color: white;
  }
  .prac-name {
    color: #0093a9;
    text-align: center;
    padding: 3px 5px 2px;
    display: inline-block;
    font-size: 12px;
    margin-top: 13px;
    background-color: #dbdfe7;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80px;
    cursor: default;
  }

  .pass_reset{
    display: inline;
    color:#000;
    font-size: 12px;
    text-decoration: underline;
  }

  .dropdown-menu>li>a.pass_reset:hover{
    background-color: transparent !important;
  }

/* added */

.text-effect {
  overflow: hidden;
  position: relative;
  filter: contrast(110%) brightness(190%);
}

.neon {
  position: relative;
  background: black;
  color: black;
}
.neon::before, .neon::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.neon::after {
  mix-blend-mode: difference;
}
.p-t-5{
  overflow: hidden;
  position: relative;
  /* filter: contrast(110%) brightness(190%); */
}
.p-b-30{
  position: relative;
  background: white;
  /* color: transparent; */
}
.p-b-30::before, .p-b-30::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.p-b-30::after {
  mix-blend-mode: difference;
}
.gradient,
.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 0;
}

.gradient {
  /* background: linear-gradient(45deg, red, blue); */
  mix-blend-mode: multiply;
}

.spotlight {
  -webkit-animation: light 5s infinite linear;
          animation: light 5s infinite linear;
  background: radial-gradient(circle, #f4f4f4, #000000 25%) 0 0/25% 24%, radial-gradient(circle, #f4f4f4, #000000 25%) 50% 50%/12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}

@-webkit-keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
.neon {
  font: 700 43px "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.neon:focus {
  outline: none;
  border: 1px dotted white;
}

.p-b-30{
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.p-b-30:focus{
  outline: none;
  border: 1px dotted white;
}
