<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="border-top:15px solid #e9ecf3;height: 100px;">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="height: 100px;">
    <div class="box-body no-padding" style="margin-top:20px;">
      <form #modalform=ngForm [formGroup]="formGroup">
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
          <div class="form-group" style="margin-bottom: 10px;">
            <label>Status Code<span class="ar-red">*</span></label>
            <ngx-select-dropdown formControlName="status_code"  [disabled]="claimed() || fclaim()" [(ngModel)]="selectedOptions"
              (change)="status_code_changed($event)" [config]="config" [options]="options" dropdownPosition="bottom" ></ngx-select-dropdown>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
          <div class="form-group" style="margin-bottom: 10px;">
            <label>Sub Status Code<span class="ar-red">*</span></label>
            <ngx-select-dropdown formControlName="sub_status_code"  [config]="config"  [disabled]="claimed() || fclaim()"
              [options]="sub_options"></ngx-select-dropdown>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12" *ngIf="router.url != '/followup'">
          <div class="form-group" style="margin-bottom: 10px;">
            <label>Associates<span class="ar-red">*</span></label>
            <ngx-select-dropdown formControlName="associates" [disabled]="claimed()" [config]="config"
              [options]="associates_options"></ngx-select-dropdown>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
          <div class="form-group" style="margin-bottom: 10px;" *ngIf="router.url == '/followup'">
            <label>Followup Date<span class="ar-red">*</span></label>
            <!-- <input class="form-control followupDateField" id="myInput" placeholder="MM-DD-YYYY"
              formControlName="followup_date" [minDate]="minDate" [(ngModel)]="model" ngbDatepicker
              #followup_date="ngbDatepicker" (click)="followup_date.toggle()"
              (click)="followup_closed();check_follow_date()" [minDate]="minDate" autocomplete="off"
              [disabled]="claimed()"> -->
              <input type="text"  placement="right"  formControlName="followup_date" class="form-control "
              [(ngModel)]="model" id="myInput" bsDatepicker  (click)="followup_closed();check_follow_date()" [minDate]="startDate"
                                    [bsConfig]="bsConfig"  autocomplete="off"  [disabled]="claimed()">
            <div class="error" *ngIf="followdate_invalid==true">Please Change followup Date</div>
          </div>
          <div class="form-group" style="margin-bottom: 10px;" *ngIf="router.url != '/followup'">
            <label>Followup Date<span class="ar-red">*</span></label>
            <!-- <input class="form-control followupDateField" id="myInput" placeholder="MM-DD-YYYY" [disabled]="claimed()"
              formControlName="followup_date" [minDate]="minDate" [(ngModel)]="model" ngbDatepicker
              #followup_date="ngbDatepicker" (click)="followup_date.toggle()"
              (click)="followup_closed();check_follow_date()" [minDate]="minDate" autocomplete="off"
              [disabled]="claimed() || fclaim()"> -->

              <input type="text"  placement="right"  formControlName="followup_date" class="form-control "
              [(ngModel)]="model" id="myInput" bsDatepicker  (click)="check_follow_date()"  [disabled]="claimed() || fclaim()"
                                    [bsConfig]="bsConfig" [minDate]="startDate"   autocomplete="off">
            <div class="error" *ngIf="followdate_invalid==true">Please Change followup Date</div>
          </div>
        </div>
        <!-- <span *ngIf="this.claim_closed == false"></span> -->
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 pull-right" *ngIf="router.url != '/followup'">
          <div class="form-group contact100-form-checkbox" style="display: inline-block">
            <input formControlName="closed" class="input-checkbox100 claim-checkbox" id="closed" [(ngModel)]="claimeds"
              type="checkbox" name="closed" (click)="closed_event($event)"
              [disabled]="disableClaim()"><span>&nbsp;&nbsp;&nbsp;</span>
          </div>
          <div class="claim-closed"><label>Claim Closed</label>
          </div>
          <div class="error" *ngIf="closed_claim_cdtn" style="margin-top:-10px" [(ngModel)]="closed_claim_cdtn">If there is no error, Please check Claim Closed to continue</div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 pull-right followup-claim"
          *ngIf="(router.url == '/followup') && (this.selected_claim_data['claim_closing'] == 1)">
          <div class="form-group contact100-form-checkbox" style="display: inline-block">
            <input formControlName="closed" class="input-checkbox100 claim-checkbox" id="closed" [(ngModel)]="claimeds"
              type="checkbox" name="closed" [disabled]="disableClaim()"><span>&nbsp;&nbsp;&nbsp;</span>
          </div>
          <div class="claim-closed"><label>Claim Closed</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 20px;margin-top:30px;"
  *ngIf="tab_status == false">
  <!-- <button type="button" class="btn btn-default text-center btn-md btn-flat" (click)="modal.dismiss()" style="min-width: 80px;">Cancel</button> -->
  <button type="button" [disabled]="!modalform.valid || !note_validation"
    class="btn btn-info text-center btn-md btn-flat" (click)="save_alert_function(alert_modal);"
    style="min-width: 80px;">Save</button>
  <!-- followup_process();finish_followup(); -->
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center status-message" *ngIf="tab_status == true ">
  {{message}}
</div>
<ng-template #confirm_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Notes Update Alert</h4>
    <!-- <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button> -->
  </div>
  <div class="modal-body">
    <p><strong> Claim data has been edited and Notes will be reloaded.</strong></p>

  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button> -->
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modalRef?.hide()">Ok</button>
  </div>
</ng-template>
<ng-template #alert_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Save Alert</h4>
    <!-- <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button> -->
  </div>
  <div class="modal-body">
    <p><strong> {{alert_message}}</strong></p>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button> -->
    <button type="button" class="btn btn-danger"
      (click)="modalRef?.hide();check_updates();save_ref(confirm_modal)">Yes</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modalRef?.hide()">No</button>
  </div>
</ng-template>

<ng-template #option1 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
       <thead>
          <tr>
            <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim denied for lack of additional information</th>
            <!-- <th class="font600 text-center line-height-24" style="border-right: 1px solid #fff;" colspan="5">Week 1</th>
            <th class="font600 text-center line-height-24" style="border-right: 1px solid #fff;" colspan="5">Week 2</th>
            <th class="font600 text-center line-height-24" style="border-right: 1px solid #fff;" colspan="5">Week 3</th> -->
          </tr>
       </thead>
       <tbody>
          <tr>
            <td class="text-center" colspan="4">1</td>
            <td class="text-center" colspan="20">May I know the Claim received date and denial date?</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">2</td>
            <td class="text-center" colspan="20">May I know what additonal information is required and from whom? </td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td class="text-center" colspan="20" style="background: yellow;">If Additional information is required from PT</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">3</td>
            <td class="text-center" colspan="20">May I know whether any letter was sent to patient?	</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td class="text-center" colspan="10">If Yes</td>
            <td class="text-center" colspan="10">If No</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">4</td>
            <td class="text-center" colspan="10">May I know on what dates the letters were sent?</td>
            <td class="text-center" colspan="10">Could you please arrange for a letter to be sent to PT?</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">5</td>
            <td class="text-center" colspan="10">May I know when was the last letter sent to PT?</td>
            <td class="text-center" colspan="10">Could you please fax us a copy of EOB to Prov office and provide claim# & call ref#?</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">6</td>
            <td class="text-center" colspan="20">May I know is there any response from the patient (if letter sent to PT - ask this question)</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td class="text-center" colspan="10">If Yes</td>
            <td class="text-center" colspan="10">If No</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">7</td>
            <td class="text-center" colspan="10">Could you please send the claim back for reprocess & let me know reprocessing time?</td>
            <td class="text-center" colspan="10">Could you please send one more letter to patient/Provider( as per Client specific)</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">8</td>
            <td class="text-center" colspan="10">May I know the claim# & Call ref#</td>
            <td class="text-center" colspan="10">Could you please fax us a copy of EOB to Prov office and provide claim# & call ref#?</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4"></td>
            <td class="text-center" colspan="10">End Action: document notes and change the followup date in software</td>
            <td class="text-center" colspan="10">End Action: Suggest Prov off to contact PT for Add information or bill PT for Add info</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td class="text-center" colspan="20" style="background: yellow;">If Additional information is required from Provider</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">9</td>
            <td class="text-center" colspan="20">May I know whether any correspondence or EOB was sent to provider office?	</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td class="text-center" colspan="10">If Yes</td>
            <td class="text-center" colspan="10">If No</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">10</td>
            <td class="text-center" colspan="10">May I know on what dates the correspondence or EOB were sent to Prov office?</td>
            <td class="text-center" colspan="10">Could you please arrange for a letter or EOB to be sent to Prov office?</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">11</td>
            <td class="text-center" colspan="20">May I know is there any response received from the Prov office? (if EOB was sent to Prov office)	</td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td class="text-center" colspan="10">If Yes</td>
            <td class="text-center" colspan="10">If No</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">12</td>
            <td class="text-center" colspan="10">Could you please send the claim back for reprocess?</td>
            <td class="text-center" colspan="10">May I have the time limit allowed to send additional information?</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">13</td>
            <td class="text-center" colspan="10">May I know the reprocessing time?</td>
            <td class="text-center" colspan="10">May I have the Fax#, attn name or Mailing address to send the additional information?</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">14</td>
            <td class="text-center" colspan="10">May I know the claim# & Call ref#?</td>
            <td class="text-center" colspan="10">Could you please fax us a copy of EOB to Prov office and provide claim# & call ref#?</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4"></td>
            <td class="text-center" colspan="10">End Action: document notes and change the followup date in software</td>
            <td class="text-center" colspan="10">End Action: Suggest Prov off to send the add information</td>
          </tr>
       </tbody>
    </table>
 </div>
</ng-template>

<ng-template #option2 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">

<table class="table-striped1 table table-bordered">
  <thead>
    <tr>
      <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim
        denied for lack of Primary EOB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center" colspan="4">1</td>
      <td class="text-center" colspan="20">May I know the Claim received date & denial date?</td>
    </tr>
    <tr>
      <td class="text-center" colspan="4">2</td>
      <td class="text-center" colspan="20">May I know whether you are acting as primary/secondary Ins for the PT?</td>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td class="text-center" colspan="10">Primary</td>
      <td class="text-center" colspan="10">Secondary</td>
    </tr>
    <tr>
      <td class="text-center" colspan="4">3</td>
      <td class="text-center" colspan="10">May I know why the claim was denied for lack of Primary EOB if you are
        primary? </td>
      <td class="text-center" colspan="10">May I know when did you become secondary Ins for the PT?</td>
    </tr>
    <tr>
      <td class="text-center" colspan="4">4</td>
      <td class="text-center" colspan="10">Could you please send the claim back for reprocess?</td>
      <td class="text-center" colspan="10">May I have the Primary Ins Name, PH# and Member ID of the PT?</td>
    </tr>
    <tr>
      <td class="text-center" colspan="4">5</td>
      <td class="text-center" colspan="10">May I have the reprocessing time?</td>
      <td class="text-center" colspan="10">May I have the time limit and the fax#, attention name to refile claim with
        Primary EOB ?</td>
    </tr>
    <tr>
      <td class="text-center" colspan="4">6</td>
      <td class="text-center" colspan="10">May I have the claim# and call ref#?</td>
      <td class="text-center" colspan="10">Could you please fax a copy of denied EOB to Prov office and provide me the
        claim# and call ref#?</td>
    </tr>
    <tr>
      <td class="text-center" colspan="4"></td>
      <td class="text-center" colspan="10">End Action: Document notes and change the follow up date in S/W</td>
      <td class="text-center" colspan="10">End Action: Verify Elig with Primary Ins and refile the claim to Primary Ins
        - if we are provided with Pri Ins detials or bill PT for Primary Ins info</td>
    </tr>
    <tr>
      <td class="text-center" colspan="4"></td>
      <td class="text-center" colspan="20"> If previous Visit in S/w shows the Ins as Primary, give the visit details to
        Ins and request to reprocess the claim since they have paid as primary for other visits</td>
    </tr>
    <tr>
    <tr>
      <td colspan="4"></td>
      <td class="text-center" colspan="10">If Accepted - follow the steps from #5</td>
      <td class="text-center" colspan="10">If not accepted follow the steps from steps #3 on the right side</td>
    </tr>
  </tbody>
</table>
 </div>
</ng-template>

<ng-template #option3 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
      <thead>
         <tr>
           <th class="font600 text-center line-height-15" colspan="15" style="background-color: blue;color: #fff;">Claim has been forwarded to pricing center</th>
         </tr>
      </thead>
      <tbody>
         <tr>
           <td class="text-center" colspan="4">1</td>
           <td class="text-center" colspan="11">May I know the claim processed date?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">2</td>
           <td class="text-center" colspan="11">May I know the Name of the repricing center?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">3</td>
           <td class="text-center" colspan="11">May I know the Batch # thru which claim was sent?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">4</td>
           <td class="text-center" colspan="11">Could you please fax the Batch face sheet?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">5</td>
           <td class="text-center" colspan="11">May I have the repricing center telephone# and  address?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">6</td>
           <td class="text-center" colspan="10">May I know the claim#</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">7</td>
           <td class="text-center" colspan="10">May I know the Call reference#</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4"></td>
           <td class="text-center" colspan="10">End action: Call Repricing Center and check the status of the claim</td>
         </tr>
      </tbody>
   </table>
 </div>
</ng-template>

<ng-template #option4 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
      <thead>
         <tr>
           <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim processed towards Capitation</th>
         </tr>
      </thead>
      <tbody>
         <tr>
           <td class="text-center" colspan="4">1</td>
           <td class="text-center" colspan="20">May I know when was the claim processed?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">2</td>
           <td class="text-center" colspan="20">May I know the allowed amount and capitation amount?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">3</td>
           <td class="text-center" colspan="20">May I know whether all CPTs are applied towards Capitation?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">4</td>
           <td class="text-center" colspan="20">May I have the CPT break ups (AA and Cap Amt for each CPT)</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">5</td>
           <td class="text-center" colspan="20">Could you please confirm the name of the capitated provider?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">6</td>
           <td class="text-center" colspan="20">May I have the capitation contract period for the Provider?</td>
         </tr>
         <tr>
         <tr>
           <td colspan="4"></td>
           <td class="text-center" colspan="20" style="background: yellow;">Check whether - the DOS lies within Cap contract period, Prov name matches with the name of the Provider billed the claim and the CPTs are same as billed</td>
         </tr>
         <tr>
           <td colspan="4"></td>
           <td class="text-center" colspan="10">If Yes</td>
           <td class="text-center" colspan="10">If No</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">7</td>
           <td class="text-center" colspan="10">May |I have the Capitation Check details ? - Check#, Check Date, Overall Capitation Amount and pay to address on the check (not every Ins would give this information)</td>
           <td class="text-center" colspan="10">Inform rep about the difference and request to reprocess the claim (Prov Name or CPT or if DOS is outside contract period) - could you pls reprocess the claim as the DOS is outside the Cap contract period? - eg</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">8</td>
           <td class="text-center" colspan="10">Could you please fax a copy of EOB to Provider's office?</td>
           <td class="text-center" colspan="10">May I know the reprocessing time?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">9</td>
           <td class="text-center" colspan="10">May I have the claim# and call reference number?</td>
           <td class="text-center" colspan="10">May I have the claim# and call reference number?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4"></td>
           <td class="text-center" colspan="10">End Action: Document notes and advise payment posting team to verify EOB and adjust the payment in software</td>
           <td class="text-center" colspan="10">End Action: Document notes and change the follow up date in software</td>
         </tr>
      </tbody>
   </table>
 </div>
</ng-template>

<ng-template #option5 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
      <thead>
         <tr>
           <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim processed towards Capitation</th>
         </tr>
      </thead>
      <tbody>
         <tr>
           <td class="text-center" colspan="4">1</td>
           <td class="text-center" colspan="20">May I know the date when the claim was received and denied?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">2</td>
           <td class="text-center" colspan="20">May I know what type of Medical Records are required to process the claim?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">3</td>
           <td class="text-center" colspan="20">May I know whether all CPTs are applied towards Capitation?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">4</td>
           <td class="text-center" colspan="20">Could you please fax a copy of Eob to providers office?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">5</td>
           <td class="text-center" colspan="20">May I have the claim# and call reference#?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">6</td>
           <td class="text-center" colspan="20">May I have the capitation contract period for the Provider?</td>
         </tr>
         <tr>
         <tr>
           <td colspan="4"></td>
           <td class="text-center" colspan="20" style="background: yellow;">End Action: Appeal claim with Medical Records</td>
         </tr>

      </tbody>
   </table>
 </div>
</ng-template>

<ng-template #option6 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
      <thead>
         <tr>
           <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim denied as Member coverage not in effect or Policy Termed</th>
         </tr>
      </thead>
      <tbody>
         <tr>
           <td class="text-center" colspan="4">1</td>
           <td class="text-center" colspan="20">May I have the claim received date and denial date?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">2</td>
           <td class="text-center" colspan="20">May I have the Patient's policy effective and termination date?</td>
         </tr>

         <tr>
         <tr>
           <td colspan="4"></td>
           <td class="text-center" colspan="20" style="background: yellow;">If Pt policy is active on DOS</td>
         </tr>

        <tr>
           <td class="text-center" colspan="4">2</td>
           <td class="text-center" colspan="20">As per the policy effective and termination date this DOS is inside effective period, could you please check that and send the claim back for reprocess?</td>
         </tr>
         <tr>
           <td class="text-center" colspan="4">4</td>
           <td class="text-center" colspan="20">May I have the reprocessing time?</td>

         </tr>
         <tr>
           <td class="text-center" colspan="4">5</td>
           <td class="text-center" colspan="20">May I know the claim# and call ref#</td>

         </tr>
          <tr>
           <td class="text-center" colspan="4">5</td>
           <td class="text-center" colspan="20">End Action: Document notes and change the follow-update in Software</td>

         </tr>
         <tr>
           <td class="text-center" colspan="4"></td>
           <td class="text-center" colspan="20">End Action: Document notes and advise payment posting team to verify EOB and adjust the payment in software</td>

         </tr>

          <tr>
           <td colspan="4"></td>
           <td class="text-center" colspan="20" style="background: yellow;">If Pt policy is not active on DOS</td>
         </tr>
          <tr>
           <td class="text-center" colspan="4"></td>
           <td class="text-center" colspan="20">May I know whether member has any other active plan with your insurance or any other Ins policy?</td>

         </tr>

         <tr>
           <td colspan="4"></td>
           <td class="text-center" colspan="10">If Yes</td>
           <td class="text-center" colspan="10">If No</td>
         </tr>
          <tr>
           <td class="text-center" colspan="4">1</td>
           <td class="text-center" colspan="10">May I have the Ins Plan or policy details? (Ins Name, PH# and Address)</td>
           <td class="text-center" colspan="10">Could you pls fax us a copy of Eob to Prov fax#</td>
         </tr>

          <tr>
           <td class="text-center" colspan="4">1</td>
           <td class="text-center" colspan="10">Could you pls fax us a copy of Eob and provide claim# and call ref#?</td>
           <td class="text-center" colspan="10">May I have the claim# and call ref#?</td>
         </tr>

          <tr>
           <td class="text-center" colspan="4">1</td>
           <td class="text-center" colspan="10">End Action: Delete the old Ins. Verify Elig with New Ins and refile claim to them if they are Primary on DOS, if the other Ins also is not primary, then bill PT for valid Ins details</td>
           <td class="text-center" colspan="10">End Action: Check S/W for New Ins. If New Ins found, verify Elig and refile claim to new Ins by deleting the old Ins, if no other Ins is found, then remove the termed Ins and bill PT for new Ins details</td>
         </tr>


      </tbody>
   </table>
 </div>
</ng-template>

<ng-template #option7 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
      <thead>
        <tr>
          <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim
            denied as Duplicate Claim/Service</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">May I know the Claim received date & denial date
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">May I know whether the entire claim or particular CPT is denied as duplicate?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">3</td>
          <td class="text-center" colspan="20">May I know the original claim status?</td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">4</td>
          <td class="text-center" colspan="20">Follow the complete scenario for original claim status including claim#
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">5</td>
          <td class="text-center" colspan="20">Could you please compare the details of original claim with Duplicate claim?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">6</td>
          <td class="text-center" colspan="20">Pt details / Rendering & Referring Prov details /DOS, BA, CPT, Modifier etc
          </td>
        </tr>
        <tr>
        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="20" style="background: yellow;">If any difference found in duplicate claim
            (difference in PT details, Prov details, DOS, CPT etc)</td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">Mention about the difference to Ins rep and request to reprocess the claim
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">May I have the reprocessing time, Claim# and call ref#
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">3</td>
          <td class="text-center" colspan="20">End Action: Document notes and change the follow up date in S/W
          </td>
        </tr>

        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="20" style="background: yellow;">If no difference found (claim is exact
            duplicate), then search for Modifier 76/77 in duplicate claim</td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">If duplicate claim was filed with Modifier 76/77
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">Inform rep about presence of 76/77 Modifier and request to reprocess claim
          </td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="10">If accepted</td>
          <td class="text-center" colspan="10">If not accepted</td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="10"> May I have the reprocessing time
          </td>
          <td class="text-center" colspan="10">May I have the appeal details? - appeal limit and appeal address or Fax#,
            attn name to appeal.
          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="10"> May I have the claim# and call ref#
          </td>
          <td class="text-center" colspan="10">May I have the claim# and call ref#
          </td>
        </tr>



        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="10"> End Action: Document notes and change the follow up date in S/W
          </td>
          <td class="text-center" colspan="10">End Action: Document notes and appeal claim with 76/77 Modifier

          </td>
        </tr>

        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="20" style="background: yellow;">If no modifier was added in duplicate claim
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">May I have a copy of duplicate claim EOB faxed to Prov office?

          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">May I have the claim# and call ref#

          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">End Action: Document notes and advise to write off charges of duplicate claim

          </td>
        </tr>


      </tbody>
    </table>
 </div>
</ng-template>

<ng-template #option8 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
      <thead>
        <tr>
          <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim
            denied for COB or Co-ordination of benefits</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">May I know the Claim received date and denial date?</td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">May I know whether any letter was sent to patient?</td>
        </tr>


        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="10">If Yes</td>
          <td class="text-center" colspan="10">If No</td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="10">May I know on what dates the letters were sent to patient?

          </td>
          <td class="text-center" colspan="10">Could you please send a letter to patient now?
            Could you pls fax a copy of EOB and provide me Claim# and call ref#?
          </td>
        </tr>

        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="20" style="background: yellow;">Is there any response from the patient?</td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="10">If Yes</td>
          <td class="text-center" colspan="10">If No</td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="10">Could you please send the claim back for reprocess


          </td>
          <td class="text-center" colspan="10">Could you please send one more letter to patient( Client specific)
            Could you pls fax a copy of EOB to Prov office

          </td>
        </tr>

        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="20" style="background: yellow;">May I know the claim# amd call ref#</td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="10">End Action: Document notes and change the follow up date in S/W



          </td>
          <td class="text-center" colspan="10">End Action: Document notes and bill PT for COB update


          </td>
        </tr>
      </tbody>
    </table>
 </div>
</ng-template>

<ng-template #option9 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
      <thead>
        <tr>
          <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim
            applied towards Patient's Deductible</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">May I know the Claim received date?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">May I know the claim processed date?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">3</td>
          <td class="text-center" colspan="20">May I know the Allowed amount and Deductible amount on the claim?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">4</td>
          <td class="text-center" colspan="20">May I know whether all CPTs are applied towards Deductible?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">5</td>
          <td class="text-center" colspan="20">May I have the CPT break ups (AA and Ded Amt for each CPT)
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">6</td>
          <td class="text-center" colspan="20">May I know whether it is Annual or Life time Deductible for the PT?
          </td>
        </tr>


        <tr>
          <td class="text-center" colspan="4">7</td>
          <td class="text-center" colspan="20">If Annual - May I know what is the Annual Deductible amount and how much PT
            has met so far?

          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">8</td>
          <td class="text-center" colspan="20">If Lifetime Deductible - May I know what is the total Lifetime Deductible and
            how much Pt has met so far?


          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">9</td>
          <td class="text-center" colspan="20">May I know whether the Deductible is applied towards Pt's In-network or Out
            of Network Deductible



          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">10</td>
          <td class="text-center" colspan="20">May I know whether the Deductible is applied towards Pt's Individual or
            Family Deductible

          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">10</td>
          <td class="text-center" colspan="20">Could you please fax a copy of EOB to Provider's office?





          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">11</td>
          <td class="text-center" colspan="20">May I have the claim# and call ref#


          </td>
        </tr>

      </tbody>
    </table>
 </div>
</ng-template>

<ng-template #option10 let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalRef?.hide();" aria-label="Close">
    <p aria-hidden="true" style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Close</p></button>
    <ul class="nav nav-tabs no-border">
       <li class="testClass">
          <a href="#{main_tab}" data-toggle="tab" class="no-padding">
          <!-- <h4 class="modal-title list-heading">Guide</h4> -->
          </a>
       </li>
       <!-- <li class="testClass" >
       <a data-toggle="tab">
          <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title list-heading">Option 1</h4>
       </a>
       </li> -->
    </ul>
 </div>
  <div class="table-responsive" style="padding:0 5px;margin: 15px;height: 400px;">
    <table class="table-striped1 table table-bordered">
      <thead>
        <tr>
          <th class="font600 text-center line-height-24" colspan="24" style="background-color: blue;color: #fff;">Claim
            processed towards Capitation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">May I know the Claim received date?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">May I know the claim denial date?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">3</td>
          <td class="text-center" colspan="20">May I know the CPT which is denied as globally bundled?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">4</td>
          <td class="text-center" colspan="20">May I know the Surgery CPT & Surgery DOS?
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">5</td>
          <td class="text-center" colspan="20">Could you please confirm the name of the capitated provider?</td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">6</td>
          <td class="text-center" colspan="20">Compare the DX between Surgery DOS and Globaly bundled DOS
          </td>
        </tr>
        <tr>
        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="20" style="background: yellow;">If Both the DOS are filed for same DX
          </td>
        </tr>


        <tr>
          <td class="text-center" colspan="4">6</td>
          <td class="text-center" colspan="20">Then ask rep - May I know what is the global period for the surgery CPT
            (90/10 days) ?

          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">6</td>
          <td class="text-center" colspan="20">Calculate => Surgery DOS + Global period


          </td>
        </tr>

        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="20" style="background: yellow;">If denied DOS is within global period - look for
            global modifier (24/58 etc) in the denied claim

          </td>
        </tr>


        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">If claim was filed with global modifier - inform rep about presence of global
            modifiers and request to reprocess claim


          </td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="10">If accepted
          </td>
          <td class="text-center" colspan="10">If not accepted or if no global modifier found in denied DOS
          </td>
        </tr>


        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="10">May I have the follow up date
          </td>
          <td class="text-center" colspan="10">May I have the appeal details (appeal limit / appeal address / fax#, attn
            name)
          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="10">May I have the claim# and call ref#

          </td>
          <td class="text-center" colspan="10">May I have the claim# and call ref#

          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">3</td>
          <td class="text-center" colspan="10">End Action: Document notes and change f/up date in S/W


          </td>
          <td class="text-center" colspan="10">End Action: Appeal claim with Global modifiers or take appropriate action


          </td>
        </tr>



        <tr>
          <td colspan="4"></td>
          <td class="text-center" colspan="20" style="background: yellow;">If denied DOS is outside global period


          </td>
        </tr>


        <tr>
          <td class="text-center" colspan="4">1</td>
          <td class="text-center" colspan="20">Inform rep that DOS is outside global period and request to reprocess the
            claim as it is a wrong denial



          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="4">2</td>
          <td class="text-center" colspan="20">May I have the follow up date?




          </td>
        </tr>


        <tr>
          <td class="text-center" colspan="4">3</td>
          <td class="text-center" colspan="20">May I have the claim# and call ref#?





          </td>
        </tr>

        <tr>
          <td class="text-center" colspan="4">4</td>
          <td class="text-center" colspan="20">End Action: Document notes and change f/up date in S/W






          </td>
        </tr>


      </tbody>
    </table>
 </div>
</ng-template>
