.x1{
    /* background-image: url('../../../assets/dist/css/main/images/bg-n1.jpg'); */
    background-color: #ffffff;
}
input::-webkit-input-placeholder { color: #e2d7ca !important;}
input:-moz-placeholder { color: #1c1104;}
input::-moz-placeholder { color: #1c1104;}
input:-ms-input-placeholder { color: #1c1104;}

.input100::-webkit-input-placeholder { color: #b5b5b5!important;}
.input100:-moz-placeholder { color: #b5b5b5!important;}
.input100::-moz-placeholder { color: #b5b5b5!important;}
.input100:-ms-input-placeholder { color: #b5b5b5!important;}

textarea::-webkit-input-placeholder { color: #000;}
textarea:-moz-placeholder { color: #000;}
textarea::-moz-placeholder { color: #000;}
textarea:-ms-input-placeholder { color: #000;}

.login5[_ngcontent-c1] {
  font-family: Poppins-Medium;
  border: 1px solid #013cb6;
  position: relative;
  width: 100%;
  padding: 4px 10px;
  z-index: 99999;
  color: #f8e1ce;
  border-radius: 4px;
}
.login100-form-logo {
    /* font-size: 60px; */
    color: #333333;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    margin: 0 auto;
}
input:focus::placeholder{
    color:transparent !important;
}
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #fff;
  }

  .focus-input100::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #fff;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .focus-input1001::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: red;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .input100:focus {
    padding-left: 5px;
  }

  .input100:focus + .focus-input100::after {
    top: -22px !important;
    font-size: 18px;
  }

  .input100:focus + .focus-input100::before {
    width: 100% !important;
  }

  .has-val.input100 + .focus-input100::after {
    position: relative;
    top: -22px !important;
    font-size: 18px;
  }

  .has-val.input100 + .focus-input100::before {
    width: 100%;
  }

  .has-val.input100 {
    padding-left: 5px;
  }
.login100-form-title h3{
  font-size: 28px !important;
}
.social-icons{
 padding-top: 4%;
 width: 100%;
}
/* .login-form{
  box-shadow: 1px 1px 10px 1px #eaeaea;
} */
.main-text{
  padding-top: 25%;
}
@media screen and (max-width: 664px) and (min-width: 320px) {
  .social-icons{
   text-align: center;
  }
}
@media screen and (max-width:1199px) and (min-width: 991px) {
  .label-checkbox100{
   font-size: 11px !important;
  }
}

@media screen and (max-width:1324px) and (min-width: 1059px) {
  .font-bigger {
   font-size: 64px !important;
  }
}
.font-bigger {
  font-size: 70px;
  line-height: 90px;
  margin-right: 0 !important;
  line-height: 1.5em;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #53493b inset !important;

}
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
} */


/* input:-internal-autofill-selected {
  background-color: red !important;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}
input:-webkit-autofill::first-line {font-size: 16px}
input:-webkit-autofill::first-line {font-family: 'Poppins', sans-serif}


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');
/* <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto" rel="stylesheet"> */
/* <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> */


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/* @font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
} */




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Poppins-Regular', sans-serif;
}

/*---------------------------------------------*/
a {
  font-family:'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	 font-family:'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #8dacd9;}
input:-moz-placeholder { color: #8dacd9;}
input::-moz-placeholder { color: #8dacd9;}
input:-ms-input-placeholder { color: #8dacd9;}

textarea::-webkit-input-placeholder { color: #8dacd9;}
textarea:-moz-placeholder { color: #8dacd9;}
textarea::-moz-placeholder { color: #8dacd9;}
textarea:-ms-input-placeholder { color: #8dacd9;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family:'Poppins', sans-serif;
  font-size: 13px;
  color: #696969;
  line-height: 1.5;
}

.txt1:hover {
  color: #222222;
}

a.txt1 {display:block;line-height: 1.2;}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.login{font-family: Poppins-Medium;border:1px solid #fff; position:relative;width:100%;padding:10px; color:#fff;border-radius:4px;}
.login:hover{background:rgba(0,0,0,0.4); border:1px solid #000}

.login1{font-family: Poppins-Medium;border:1px solid #372b1f; position:relative;width:100%;padding:10px; color:#1d1a14;border-radius:4px;background:#fff}

.login2{font-family: Poppins-Medium;border:1px solid #372b1f; position:relative;width:100%;padding:10px; color:#f8e1ce;border-radius:4px;background:rgba(52,40,30,0.5)}
.login2:hover{font-family: Poppins-Medium;border:1px solid #372b1f; position:relative;width:100%;padding:10px; color:#fff;border-radius:4px;background:rgba(52,40,30,0.7)}

.login5{font-family: Poppins-Medium;border:1px solid #013cb6; position:relative;width:100%;padding:4px 10px; color:#f8e1ce;border-radius:4px;background:#00beda;}
.login5:hover{font-family: Poppins-Medium;border:1px solid #013cb6; position:relative;width:100%;padding:4px 10px; color:#f8e1ce;border-radius:4px;background:#00adc7}
.login6{font-family: Poppins-Medium;border:1px solid #013cb6; position:relative;width:100%;padding:4px 10px; color:#f8e1ce;border-radius:4px;background:#3174fe}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(0,0,0,0.2); */
}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;

  background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef);
}


.caption1{font-family: 'Roboto', sans-serif;}
.caption2{font-family: 'Righteous', cursive; color:#fff !important;}
.caption3{font-family: 'Oswald', sans-serif; color:#fff;}
.font-bigger{font-size:70px;line-height:90px;margin-right:5%}
.font-bigger1{font-size:90px;line-height:110px;margin-right:5%}
.font-big{font-size:50px;line-height:70px;margin-right:5%}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px;
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}
.ar-white{color:#fff;}
.login100-form-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #000000;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}
.login100-form-title h3 {
  font-family: 'Oswald', sans-serif !important;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #ccc;
  margin-top: 25px;
}

.input100 {
  font-family:'Poppins', sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}


/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #999;
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #000;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.focus-input1001::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: red;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px !important;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family:'Poppins', sans-serif;
  font-size: 13px;
  color: #000;
  line-height: 1.2;
  width: 50%;
  float: left;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid #333333;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #000000;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 100%;
  height: 50px;
  border-radius: 4px;

  background: #fff;

  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.login100-form-btn:hover {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff !important;
  line-height: 1.2;


  background: #46a1fc;

  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}











.card {
  margin: 0 auto;
}
.card .carousel-item {
  height: 200px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
  background-color: grey;
    padding: 10px;

}
a:hover > .ico {
  background-color: #000;
}
.carousel-caption{position:relative; text-align:right;left:0%;right:5%}

/*------------------------------------------------------------------
[ Social icons]*/
.social-icons i{
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 36px;
  background-color: #333333;
  color: #fff;
  margin: 0 3px 3px 0;
}


/* added */

.text-effect {
  overflow: hidden;
  position: relative;
  filter: contrast(110%) brightness(190%);
}

.neon {
  position: relative;
  background: white;
  color: transparent;
}
.neon::before, .neon::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.neon::after {
  mix-blend-mode: difference;
}
.p-t-5{
  overflow: hidden;
  position: relative;
  /* filter: contrast(110%) brightness(190%); */
}
.p-b-30{
  position: relative;
  background: white;
  /* color: transparent; */
}
.p-b-30::before, .p-b-30::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.p-b-30::after {
  mix-blend-mode: difference;
}
.gradient,
.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 0;
}

.gradient {
  /* background: linear-gradient(45deg, red, blue); */
  mix-blend-mode: multiply;
}

.spotlight {
  -webkit-animation: light 5s infinite linear;
          animation: light 5s infinite linear;
  background: radial-gradient(circle, white, transparent 25%) 0 0/25% 25%, radial-gradient(circle, white, black 25%) 50% 50%/12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}

@-webkit-keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
.neon {
  font: 700 90px "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.neon:focus {
  outline: none;
  border: 1px dotted white;
}

.p-b-30{
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.p-b-30:focus{
  outline: none;
  border: 1px dotted white;
}

/* .eye{
  background-image: url('assets/image/eye.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px;
} */
