
.reset{
	font-size: 25px;
	position: relative;
	top: -33px;
	cursor: pointer;
	float: right;
	text-align: right;
	padding-right: 10px;
}


.tooltip-feedback {
  background-color: #9ad9e4 !important;
  color: #646464 !important;
  /* overflow: visible !important;
  margin-left: -25px !important;
  margin-top: -20px !important; */
}

.new-tooltip-class {
  background-color: #fff !important;
  color: #646464 !important;
  margin-top: -20px !important;
}

.md-datepicker-input-container {
    width: 1000px;
}


.md-drppicker{
  top: 37px !important;
  left: -98px !important;
  right: auto !important;
  width: 500px !important;
}

.ar-total {
	padding: 5px 5px !important;
}

.report-time {
	margin-right: 10px;
}

.report-textbox {
	max-width: 108%;
}


.btn-search {
  background-color: #00beda;
  border-color: #00beda;
  color: #fff;
  max-width: 66px;
  margin-top: 15px;
}
.btn-search:hover {
  color: #fff !important;
  background-color: #04a1b8 !important;
}
.md-drppicker {
    position: fixed !important;
}
.md-drppicker.double {
    width: auto;
    margin-top: 2px !important;
    margin-left: 20% !important;
}

.alignment .md-drppicker.double {
    width: auto;
    margin-top: 2px !important;
    margin-left: 36% !important;
}


@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-theme-alpine {
  position: relative;
  width: 100%;
  height: 650px;
  /* border-radius: 10px; */
  /* margin-left: -220px; */

  /* font-size: 13px !important; */
  border: none !important;
  font-weight:100;
  font-family: 'sans-serif';
}

::ng-deep .ag-cell .ag-row .ag-header  .ag-root-wrapper  .ag-paging-panel {
  border: none  !important;
}

::ng-deep .ag-header {
  font-weight: 600 !important;
  font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important;
  color: #333333 !important;
}

::ng-deep .ag-header-row{
  font-size: 12px !important;
 border: none !important;
 font-weight: 652 !important;
}

::ng-deep .ag-side-bar{
  font-weight: 600 !important;
  font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important;
  color: #333333 !;
}
::ng-deep  .ag-header-icon{
  display: none !important;
}

::ng-deep .ag-row{
  border: none  !important;
  margin: 7px 0px !important;
}

.search_box
{
  border: 1px solid #d8dbe4;
  height: 45px;
  width: 100%;
  padding-left: 10px;
  margin-top: -2px;
  border-right: 1px solid #d8dbe4;
}
