<div class="mt-4 col-md-8 col-md-offset-2">
  <div class="row">
     <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
        <div class="card">

          <div class="card-header">
            <h4>Reset Password</h4>
            <div class="profile">
               <i class="fa fa-user" aria-hidden="true"></i>
            </div>
         </div>

          <form (ngSubmit)="resetPassword()">
          <div class="card-body row">
            <div class="col-md-12">
              <div class="form-group row">
                  <label for="username" class="col-md-3 col-form-label">Old Password<span class="ar-red">*</span></label>
                  <div class="col-md-1"><strong>:</strong></div>
                  <div class="col-md-7">
                    <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Old Password" [(ngModel)]="oldPassword">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="firstname" class="col-md-3 col-form-label">New Password<span class="ar-red">*</span></label>
                  <div class="col-md-1"><strong>:</strong></div>
                  <div class="col-md-7">
                    <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="New Password" [(ngModel)]="newPassword">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="dob" class="col-sm-3 col-form-label">Confirm Password <span class="ar-red">*</span></label>
                  <div class="col-sm-1"><strong>:</strong></div>
                  <div class="col-sm-7">
                    <!-- <input type="text" name="dob" class="form-control" id="dob" placeholder="MM-dd-yyyy" formControlName="dob" (focus)="dob.toggle()"  ngbDatepicker #dob="ngbDatepicker" required  autocomplete="off" [ngClass]="{ 'is-invalid': (submitted || f['dob'].touched) && f['dob'].errors }"> -->
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
                    <div ></div>
                    <div >

                    </div>
                    <ul style="padding-left:25px">
                      <li *ngIf="newPassword !== confirmPassword" style="text-align: left;" class="error">Passwords do not match.</li>
                      <li *ngIf="newPassword && !isPasswordStrong(newPassword)" style="text-align: left;"  class="error">Password must have at least 8 characters, including uppercase, and special character.</li>
                    </ul>
                  </div>

              </div>

              <button type="submit" class="btn btn-info submit-btn">Submit</button>
            </div>
          </div>
          </form>
        </div>
      </div>
  </div>
</div>

